# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Env
venv/
env/

# Django
db.sqlite3

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Migrations cache
*.pyc